[submodule "public"]
	path = public
	url = git@github.com:tryIdea/blog.git
	branch = master
[submodule "themes/yinwang"]
	path = themes/yinwang
	url = https://github.com/chinanf-boy/gohugo-theme-yinwang.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even
